body{
	background-color: black;
}
h1{
	color: lime;
	text-align: center;
	font-family: "Sans-serif", Monospace;
	text-shadow: 2px 2px 5px;
}
p{
	color: red;
	text-align: center;
	font-family: "Sans-serif", Monospace;
	text-shadow: 2px 2px 5px;
}
